[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

flask = "==0.12.2"
flask-sqlalchemy = "==2.3.2"
gunicorn = "==19.7.1"
"psycopg2" = "==2.6.1"
sqlalchemy-utils = "==0.32.14"
sqlalchemy = "==1.1.10"
structlog = "*"
